* {
    margin: 0;
}

#root {
    height: 100dvh;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

main {
    background-color: lightblue;
}

nav {
    display: flex;
    gap: 1.5em;
}

nav, header {
    padding: 0.5em;
}

.kommuneinfo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.kommuneinfo p {
    padding: 1em;
}