* {
  margin: 0;
}

#root {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

main {
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr auto;
}

nav {
  display: flex;
  gap: 1.5em;
}
.map {
  height: 100%;
  width: 100%;
}

nav,
header {
  padding: 0.5em;
}

.kommuneinfo {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.kommuneinfo p {
  padding: 1em;
}
.overlay {
  background-color: white;
  transform: translate(-50%, -50%);
  padding: 0.25em;
  border-radius: 10%;
}
main aside {
  display: grid;
  grid-template-columns: 1fr;
  transition: grid-template-columns 0.5s ease-out;
  overflow-x: clip;
  overflow-y: auto;
  max-height: calc(100dvh - 100px);
  background-color: white;
}
